@import url("https://fonts.googleapis.com/css?family=Jura:400,500,600&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

body {
  max-width: 100%;
  font-family: 'Jura', sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #757c7c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../images/bg_code.jpg) center 0; }

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.wrapper {
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.holder {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px; }

.header {
  position: relative;
  margin-bottom: 15px; }
  .header .vision {
    border: 2px solid #828989;
    margin-right: 20px; }
    .header .vision img {
      vertical-align: top; }

.holder {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 50px 15px;
  background: rgba(105, 111, 111, 0.1); }

.name, .profession {
  color: #828989;
  text-align: left;
  text-shadow: 1px 1px #131414;
  display: inline-block; }

.name {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
  line-height: 34px; }

.profession {
  font-size: 24px;
  line-height: 28px; }

.main-nav {
  margin-bottom: 15px; }
  .main-nav ul {
    display: table;
    width: 95%;
    margin: 0 auto;
    text-align: center; }
    .main-nav ul li {
      display: table-cell;
      height: 28px;
      margin-bottom: 28px;
      padding: 0 3%; }
      .main-nav ul li a {
        border: 1px solid #80629F;
        display: block;
        padding: 3px 7px;
        text-decoration: none;
        color: inherit;
        background: #9b6569;
        color: #757c7c; }
  .main-nav a:hover {
    border: 1px solid #FEFBD9;
    -webkit-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.9), 0 0 3px 0 rgba(255, 255, 255, 0.8), 0 0 4px 0 rgba(255, 255, 255, 0.4), 0 0 5px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.9), 0 0 3px 0 rgba(255, 255, 255, 0.8), 0 0 4px 0 rgba(255, 255, 255, 0.4), 0 0 5px 0 rgba(255, 255, 255, 0.2);
    -webkit-text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 2px rgba(255, 255, 255, 0.6), 0 0 3px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 2px rgba(255, 255, 255, 0.6), 0 0 3px rgba(255, 255, 255, 0.2), 0 0 4px rgba(255, 255, 255, 0.1);
    color: #fff; }

.btn-page-nav {
  width: 50px;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: inherit; }
  .btn-page-nav:active, .btn-page-nav:focus {
    outline: none; }
  .btn-page-nav:hover {
    cursor: pointer; }
  .btn-page-nav:hover .stripe {
    background: #696f6f;
    -webkit-box-shadow: 0 0 2px rgba(233, 235, 235, 0.25), 0 0 3px rgba(233, 235, 235, 0.11), 0 0 4px rgba(233, 235, 235, 0.06), 0 0 5px rgba(233, 235, 235, 0.04);
            box-shadow: 0 0 2px rgba(233, 235, 235, 0.25), 0 0 3px rgba(233, 235, 235, 0.11), 0 0 4px rgba(233, 235, 235, 0.06), 0 0 5px rgba(233, 235, 235, 0.04); }
  .btn-page-nav:hover .page-nav {
    visibility: visible;
    opacity: 1;
    width: 250px; }

.stripe {
  margin: 0 auto;
  width: 28px;
  height: 5px;
  margin-bottom: 5px;
  background: rgba(105, 111, 111, 0.8); }
  .stripe:last-child {
    margin-bottom: 0; }

.page-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 50px;
  top: 10px;
  background: rgba(105, 111, 111, 0.1);
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: width 250ms ease-Out;
  transition: width 250ms ease-Out; }
  .page-nav a {
    text-decoration: none;
    color: inherit;
    opacity: 0.8; }
    .page-nav a:hover {
      text-shadow: 0 0 2px rgba(233, 235, 235, 0.25), 0 0 3px rgba(233, 235, 235, 0.11), 0 0 4px rgba(233, 235, 235, 0.06), 0 0 5px rgba(233, 235, 235, 0.04);
      opacity: 1; }

.btn-page-nav:hover .page-nav {
  width: 300px; }

.section {
  display: inline-block;
  background: rgba(105, 111, 111, 0.1);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px; }

.contacts {
  margin-left: 3%;
  margin-right: 3%; }
  .contacts a {
    text-decoration: none;
    color: inherit;
    line-height: 30px; }

td {
  padding: 5px 15px;
  line-height: 30px; }

.section-title {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #131414;
  margin-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(105, 111, 111, 0.1); }

.col1 {
  text-align: end; }

.objective {
  display: block; }
  .objective p {
    text-align: center;
    margin-top: 18px; }

.workexp {
  padding-left: 50px;
  padding-right: 50px; }
  .workexp > span {
    margin-left: 15px; }

.duties h4 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

.duties-list {
  margin-left: 15px;
  list-style-type: disc; }
  .duties-list li {
    display: list-item; }

.education a, .add-aducation a {
  text-decoration: none;
  color: inherit; }
  .education a span:first-child, .add-aducation a span:first-child {
    line-height: 34px;
    font-size: 21px; }

.center {
  text-align: center; }

.add-aducation {
  text-align: left; }
  .add-aducation a span:first-child {
    text-transform: uppercase; }

.pers-qual {
  margin-bottom: 40px; }

.footer {
  padding: 15px 0;
  margin-top: -60px;
  background: rgba(105, 111, 111, 0.1); }
  .footer .copyright, .footer .developers {
    margin-top: 5px;
    font-size: 18px;
    line-height: 22px;
    text-shadow: 1px 1px 0 #131414; }
  .footer .copyright {
    text-align: left;
    margin-left: 25px; }
  .footer .developers {
    text-align: right;
    margin-right: 25px; }
  .footer .footer-menu ul {
    display: table;
    max-width: 200px;
    margin: 0 auto; }
    .footer .footer-menu ul li {
      display: table-cell;
      text-align: center; }
      .footer .footer-menu ul li a {
        margin: 0 14px;
        display: block;
        width: 40px;
        height: 28px;
        border: 1px solid #828989; }
