$BlocksBackground: rgba(105, 111, 111, 0.10);

.footer {
	padding: 15px 0;
	margin-top: -80px;
	background: $BlocksBackground;
	.copyright, .developers {
		margin-top: 5px;
		font-size: 18px;
		line-height: 22px;
		text-shadow: 1px 1px 0 $textShadow;
	}
	.copyright {
		text-align: left;
		margin-left: 25px;
	}
	.developers {
		text-align: right;
		margin-right: 25px;
	}
	.footer-menu {
		
		ul {
			display: table;
			max-width: 200px;
			margin: 0 auto;
			li{
				display: table-cell;
				text-align: center;
				a {
					margin: 0 14px;
					display: block;
					width: 40px;
					height: 28px;
					border: 1px solid $titleTextColor;
				}
			}
		}
	}

}