.header {
	position: relative;
	margin-bottom: 15px;
	.vision {
		border: 2px solid $titleTextColor;
		margin-right: 20px;
		img {
			vertical-align: top;
		} 
	}
}
.holder {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 50px 15px;
	background: $blocksBackground;
}
.name, .profession {
	color: $titleTextColor;
	text-align: left;
	text-shadow: 1px 1px $textShadow;
	display: inline-block;
}
.name {
	margin-bottom: 15px;
	font-size: 30px;
	font-weight: 500;
	line-height: 34px;
}
.profession {
	font-size: 24px;
	line-height: 28px;
}
.main-nav {
	margin-bottom: 15px;
	ul {
		display: table;
		width: 95%;
		margin: 0 auto;
		text-align: center;
		li {
			display: table-cell;
			height: 28px;
			margin-bottom: 28px;
			padding: 0 3%;
			a {
				border: 1px solid $titleTextColor;
				display: block;
				padding: 3px 7px;
				text-decoration: none;
				color: inherit;
			}
		}
	}
	a:hover {
		border: 1px solid #fff;
		-webkit-box-shadow: 0 0 2px 0 rgba(255,255,255,0.9),
							0 0 3px 0 rgba(255,255,255,0.8),
							0 0 4px 0 rgba(255,255,255,0.4),
							0 0 5px 0 rgba(255,255,255,0.2);
		box-shadow: 0 0 2px 0 rgba(255,255,255,0.9),
					0 0 3px 0 rgba(255,255,255,0.8),
					0 0 4px 0 rgba(255,255,255,0.4),
					0 0 5px 0 rgba(255,255,255,0.2);
		-webkit-text-shadow: 0 0 1px rgba(255,255,255,0.8),
							0 0 2px rgba(255,255,255,0.6),
							0 0 3px rgba(255,255,255,0.3),
							0 0 4px rgba(255,255,255,0.1);
		text-shadow: 0 0 1px rgba(255,255,255,0.8),
					0 0 2px rgba(255,255,255,0.6),
					0 0 3px rgba(255,255,255,0.2),
					0 0 4px rgba(255,255,255,0.1);
		color: #fff;
	}
}