@import url('https://fonts.googleapis.com/css?family=Jura');

@import "reset";

$textColor: #828989; 
$BlocksBackground: rgba(105, 111, 111, 0.10);
$textShadow: #131414;

html, body {
	max-width: 100%;
}

body {
	font-family: 'Jura', sans-serif;
	font-size: 18px;
	line-height: 22px;
	box-sizing: border-box;
	background: url(../images/bg_code.jpg) center 0 no-repeat;
	min-height: 100%;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.pull_right {
	float: right
}

.pull_left {
	float: left;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px
}
.header {
	background: $BlocksBackground;
	.vision {
		border: 2px solid $textColor;
		margin-right: 20px; 
	}
}

.vision {
	img {
		vertical-align: top;
	}
}

.name {
	margin: 40px 0 15px 0;
	font-size: 30px;
	font-weight: 500;
	line-height: 34px;
	color: $textColor;
	text-align: left;
	text-shadow: 1px 1px $textShadow;

}

.profession {
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	color: $textColor;
	text-shadow: 1px 1px $textShadow;
}