@import url('https://fonts.googleapis.com/css?family=Jura:400,500,600&subset=cyrillic');

@import "reset";

$titleTextColor: #BDDDDB;
$textColor: #FEFBD9; 
$blocksBackground: #649A96;
$textShadow: #131414;

html, body {
	height: 100%;
}

body {
	font-family: 'Jura', sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: $textColor;
	box-sizing: border-box;
	background: url(../images/bg_code_light.jpg) center 0 repeat-y;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.pull-right {
	float: right
}

.pull-left {
	float: left;
}

.wrapper {
	padding-top: 15px;
	min-height: 100%;
	box-sizing: border-box;
	padding-bottom: 82px;
	// background: url(../images/old_monitor.png) center 0 repeat-y;
}

.overlay { 
	display: block; 
	width: 100%; 
	height: 100%; 
}

#background-video {
	position: fixed;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	overflow: hidden;
	&>video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@import "header";

.intro {
	display: inline-block;
	max-width: calc(100% - 350px);
	p {
		color: #80629F;
	}
}

@import "footer";