@import url('https://fonts.googleapis.com/css?family=Jura');

@import "reset";

$titleTextColor: #828989;
$textColor: #757c7c; 
$blocksBackground: rgba(105, 111, 111, 0.10);
$textShadow: #131414;

html, body {
	height: 100%;
}

body {
	max-width: 100%;
	font-family: 'Jura', sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: $textColor;
	box-sizing: border-box;
	background: url(../images/bg_code.jpg) center 0;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.pull-right {
	float: right
}

.pull-left {
	float: left;
}

.wrapper {
	min-height: 100%;
	padding-top: 40px;
	padding-bottom: 82px;
	box-sizing: border-box;
}

@import "header";

.section {
	display: inline-block;
	background: $blocksBackground;
	padding: 25px;
	margin-bottom: 25px;
}

.contacts {
	margin-left: 3%;
	margin-right: 3%;
	td {
		padding: 5px 15px;
		line-height: 30px;
	}
	a {
		text-decoration: none;
		color: inherit;
		line-height: 30px;
	}
}

.section-title {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 $textShadow;
	margin-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid $blocksBackground;
}

.col1 {
	text-align: end;
}

.objective {
	display: block;
	p {
		text-align: center;
		margin-top: 18px;
	}
}

@import "footer";